* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width:85%;
    max-width: 1360px;
    height: 62.22%;
    max-height: 60px;
    /* border: 1px solid red; */
    margin: 0px auto;
}



/* shared style  */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
}

.nav-logo {
    width: 10.22%;
    max-width: 339px;
    height: 62.22%;
    max-height: 60px;

}

.btn {
    background-color: #30b468;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* main style  */


header .text-center{
    text-align: center;
}

nav {
    background-color: #ffffff;
    width: 85%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    /* border: 16px 120px; */

}

nav .menu-items {
    display: flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
}

nav .menu-items a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header #banner {
    background: url(../images/hero-bg.png);
    background-position: 23px 38px, auto;
    background-size: auto,40%;
    background-repeat: no-repeat;
    padding-top: 50px;
    gap: top 16px;
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 70px 120px 134px 120px;

    
}

#banner .banner-content {
    max-width: 1360px;
    text-align: center;
    justify-content: center;
}

#banner .btn-early-access {
    font-size: 16px;
    font-weight: 600;
    color: #30b868;
    width: 229px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: none;
    gap: 1.5px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    
}
.live-icon{
    width: 16px;
    height: 16px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 30px;
}

.hb2 {
    display: flex;
    justify-content: center; 
    gap: 20px;               
    margin-top: 30px;
    text-align: center;
    align-items:center ;        

}

.notes {
    padding: 80px 0;    
    width: 85%;         
    max-width: 1360px;
    margin: 0 auto;    
}

.notes-heading {
    text-align: center;      
    max-width: 700px;         
    margin: 0 auto 50px auto;
}

.notes-box {
    display: flex;            
    gap: 24px;              
    justify-content: space-between;
}

.icon-box {
    width: 60px;
    height: 60px;
    background-color: #F95555; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto; 
}

.notes-card img {
    width: 24px;  
    height: auto;
}


.notes-card {
    text-align: center;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    flex: 1;
}



.notes-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #111;
}


.notes-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.5; 
}

.second-brain {
    padding: 80px 0;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.sb-content h4{
    font-size: 16px;
    color: #30b868;
    margin-bottom: 16px;
}
.sb-content h2{
    font-size: 48px;
    font-style: bold;
    color: #001931;
    margin-bottom: 16px;
}
.sb-content p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;

}
.sb-container {
    display: flex;       
    align-items: center; 
    gap: 50px;            
}

.sb-image, .sb-content {
    flex: 1;             
}

.sb-image img {
    
    width: 600px;
    height: 600px;
}

.sb-list {
    list-style: none; 
    padding: 0;
    margin-top: 30px; 
}

.sb-list li {
    display: flex;         
    align-items: center; 
    gap: 15px;             
    margin-bottom: 15px;   
    font-size: 18px;      
    color: #333;
}

.cl-icon {
    width: 24px;  
    height: 24px;  
    object-fit: contain; 
}
.early-access {
    padding: 80px 0;
    text-align: center; 
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.ea-container h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #111;
}

.email-box {
    display: flex;         
    justify-content: center; 
    align-items: center;
    gap: 16px;             
    margin-top: 30px;
    margin-bottom: 15px;
}

.email-box input {
    padding: 12px 24px;    
    border: 1px solid #ddd;
    border-radius: 8px;   
    width: 300px;         
    font-size: 16px;
    outline: none;         
    background-color: #F8F9FA;
}

.small-text {
    color: #777;
    font-size: 14px;
}
